* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-sec {
    grid-area: navegacion;
}


.main-sec{
    grid-area: parte_central;
}

.footer-sec {
    grid-area: pie_pagina;
}

.grid-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas:
    'navegacion navegacion navegacion navegacion navegacion navegacion'
    'parte_central parte_central parte_central parte_central parte_central parte_central'
    'pie_pagina pie_pagina pie_pagina pie_pagina pie_pagina pie_pagina';
    padding: 1rem;
}

.grid-container-nav{
    display: grid;
    grid-template-columns: repeat(5,auto);
    background-color: rgba(1, 11, 148, 0.829);
    padding: 1rem;
}

    .nav-item1 {
        grid-column: 1/5;
        border: 1rem solid black;
        padding: 1rem;
        font-size: 0.5rem;
        text-align: center;
        float: left;
    }

    .logo{
        float: left;
        width: 25%;
    }

    .nav-item2 {
        grid-column:5/6 ;
        border: 1rem solid black;
        padding: 1rem;
        font-size: 0.5rem;
        text-align: center;
        justify-self: right;
        align-self: center;
    }

    nav ul{
        list-style: none;
        overflow: hidden;        
    }
        nav ul li{
            float: right;
        }
            nav ul li a{
                text-decoration: none;
                display: block;
                border: 1 solid black;
                font-size: 1rem;
                padding: 1rem;
                color: #fff;

            }
            nav ul li a:hover{
                background: #044d88 ;
            }

    
.menu-estatico{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    max-width: 98.5%;
    box-shadow: 0rem 0.2rem 0.4rem rgb(0,0,0,0.5);
}

.grid-container-main{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    background-color: #2196F3;
    padding: 1rem;
}
    .grid-item1 {
        grid-column-start: 1;
        grid-column-end: 2;
        border: 1rem solid black;
        padding: 1rem;
        font-size: 0.5rem;
        text-align: center
    }

    .grid-item2 {
        grid-column-start: 2;
        grid-column-end: 3;
        border: 1rem solid black;
        padding: 1rem;
        font-size: 0.5rem;
        text-align: center;
    }

    .grid-item3 {
        grid-column-start: 3;
        grid-column-end: 4;
        border: 1rem solid black;
        padding: 1rem;
        font-size: 0.5rem;
        text-align: center;
    }

    .grid-item4 {
        grid-column-start: 4;
        grid-column-end: 5;
        border: 1rem solid black;
        padding: 1rem;
        font-size: 0.5rem;
        text-align: center;
    }

    .grid-item5 {
        grid-column-start: 5;
        grid-column-end: 6;
        border: 1rem solid black;
        padding: 1rem;
        font-size: 0.5rem;
        text-align: center;
    }

.grid-container > .main-sec{
    background-color: blue;
}

