#cabeceraweb {
    background-color: dimgrey;
}

#navegacionprincipal {
    background-color: rgb(165, 4, 4);
}

#barralateral {
    background-color: gold;
}

#contenidoprincipal {
    background-color: brown;
}

#pieprincipal {
    background-color: crimson;
}